/*
 * flasky.css_t
 * ~~~~~~~~~~~~
 *
 * Based on the work from Armin Ronacher:
 * :copyright: Copyright 2010 by Armin Ronacher.
 * Adjusted by Pierre-Yves Chibon.
 * :copyright: Copyright 2012 by Pierre-Yves Chibon.
 */


/* -- page layout --------------------------------------------------- */

body {
    font-family: 'Georgia', serif;
    font-size: 17px;
    background-color: white;
    color: #000;
    margin: 0;
    padding: 0;
}

div.document {
    width: 940px;
    margin: 30px auto 0 auto;
}

hr {
    border: 1px solid #B1B4B6;
}

div.body {
    background-color: #ffffff;
    color: #3E4349;
    padding: 0 30px 0 30px;
}

/* -- body styles ----------------------------------------------------*/

a {
    color: #004B6B;
    text-decoration: underline;
}

a:hover {
    color: #6D4100;
    text-decoration: underline;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-family: 'Garamond', 'Georgia', serif;
    font-weight: normal;
    margin: 30px 0px 10px 0px;
    padding: 0;
}

div.body h1 { margin-top: 0; padding-top: 0; font-size: 240%; }
div.body h2 { font-size: 180%; }
div.body h3 { font-size: 150%; }
div.body h4 { font-size: 130%; }
div.body h5 { font-size: 100%; }
div.body h6 { font-size: 100%; }

a.headerlink {
    visibility: hidden;
}

a.headerlink {
    color: #ddd;
    padding: 0 4px;
    text-decoration: none;
}

a.headerlink:hover {
    color: #444;
    background: #eaeaea;

}

h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink,
h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink,
dt:hover > a.headerlink {
    visibility: visible;
}

div.body p, div.body dd, div.body li {
    line-height: 1.4em;
}

ul, ol {
    margin: 10px 0 10px 30px;
    padding: 0;
}

a:hover tt {
    background: #EEE;
}

.errors {
    color:red;
}

.flashes {
    color:blue;
}


.markertable td {
    vertical-align:top;
    border-top: 1px solid white;
}

.markertable tr td {
    border-left: 1px solid black;
    border-right: 1px;
    text-align: right;
    min-width: 80px;
    font-size: 17px;
}

.markertable tr th {
    font-size: 16px;
}

.even {
    background: #e6fddb;
}
