{% extends "master.html" %}

{% block title %}Welcome {% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript"
      src="{{url_for('static', filename='jquery-1.7.2.min.js')}}"></script>
    <script type="text/javascript"
      src="{{url_for('static', filename='jquery-ui-1.8.21.custom.min.js')}}"></script>
    <script type="text/javascript">
      $(function() {
        // Help for the Map file
        function runEffectMap() {
          $( "#helpMap" ).toggle( "blind", "", 500);
        };
        $( "#toogleHelpMap" ).click(function() {
          runEffectMap();
          return false;
        });
        $( "#helpMap" ).hide();

        // Help for the zip file
        function runEffectZip() {
          $( "#helpZip" ).toggle( "blind", "", 500);
        };
        $( "#toogleHelpZip" ).click(function() {
          runEffectZip();
          return false;
        });
        $( "#helpZip" ).hide();
      });
    </script>
{% endblock %}


{% block body %}
        <h1>MQ²<a class="headerlink" href="#intro"
            title="Permalink to this headline">¶</a></h1>
        <p> MapQTL is a powerful tool to do QTL mapping. It allows you
          to analyze multiple traits very quickly and in a user-friendly way.
          However, if you perform QTL mapping on a lot of traits, it is
          hard to get an overview of the results.
        </p>
        <p>
          MQ² aims at filling this need.
          Assuming one QTL per linkage group and using the LOD threshold
          set by the user. It extracts all the QTLs detected by MapQTL
          and using a map file, it finds the marker closest to the peak
          and finally calculates the number of QTLs found near each
          marker on the map. Note that this works for Interval mapping,
          MQM or RQM mapping but not for KW mapping.
        </p>
        <p>
          This approach quickly allows you to find and visualize
          potential QTL hotspot in your dataset. This is particularly
          useful for large QTL analysis on a large number of traits.
        </p>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% if form.errors %}
        <ul class=errors>
        {% for error in form.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <h4> Upload your files: </h4>
        <form method="POST" action="{{url_for('index')}}" enctype="multipart/form-data">
          <ul style="list-style-type: none;">
            <li>
              {{ form.mapqtl_input.label }} {{ form.mapqtl_input }}
              <a href="#" id="toogleHelpZip">
                <img src="{{url_for('static', filename='help.png')}}" alt="Help" />
              </a>
              <div id="helpZip">
                  <p style="color:green">
                    A zip file containing all the *.mqo files in the MapQTL
                    project directory that you want to analyze.
                  </p>
                </div>
            </li>
            <li>
              <input type="submit" value="Submit">
            </li>
          </ul>
        </form>

        <h4> Checkout your former session: </h4>
        <form method="POST" action="{{url_for('index')}}" >
          <ul style="list-style-type: none;">
            <li>
              {{ session_form.session_id.label }} {{ session_form.session_id }}
            </li>
            <li>
              <input type="submit" value="Submit">
            </li>
          </ul>
        </form>

        <h4> Examples: </h4>
        <p> Example input files:
        </p>
        <ul>
          <li><a href="{{url_for('static', filename='Demoset.zip')}}">Example MapQTL output</a></li>
        </ul>
        <p> Example output:
        </p>
        <ul>
          <li><a href="{{url_for('session', 
            session_id=sample_session)}}">
            Example session</a></li>
        </ul>
        <h4> About the name: </h4>
        <p> The aim of this tool is to visualize QTLs detected using
          MapQTL. <br />
          So, it is MapQTL to QTLs, <br />
          <span style="font-style:italic"> QTL * QTL = QTL²</span> <br />
          thus MQ².
        </p>
        <h4> About the tool: </h4>
        <p> This tool has been developed by Pierre-Yves Chibon and
          Roeland Voorrips from
          <a href="http://www.plantbreeding.wur.nl/">Plant Breeding</a>
          at <a href="http://www.wur.nl/">Wageningen UR</a>.
        </p>
{% endblock %}
