
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>MQ² session overview</title>
    
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static', filename='flasky.css')}}" />
  </head>
  <body>
    <div class="document">
      <div class="section" id="intro">
        <span id="id1"></span>
        <h1>MQ² session overview<a class="headerlink" href="#intro"
            title="Permalink to this headline">¶</a></h1>
        <p>
          <a href="{{url_for('index')}}">Home</a>
        </p>
        <p> Session identifier: <span style="color:red">
          {{session_id}}</span></p>
        <p>
          Now that you have uploaded your data you can check for QTLs
          hotspot(s).
        </p>
        <p> Since in a MapQTL run you can have multiple sessions using
        differents parameters to do your QTL mapping, please indicate
        which session you would like to use/look at.
        </p>
        <p> MQ² makes the assumption that there is only one QTL per
          linkage group. In order to find these QTLs we ask you to
          provide a LOD threshold. All LOD values above it will be
          considered as part of a QTL.
        </p>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% autoescape off%}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endautoescape %}
          {% endif %}
        {% endwith %}

        {% if form.errors %}
        <ul class=errors>
          {% for error in form.errors %}
            <li>{{ error }} : {{ form.errors[error]|join(" ") }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <form action="." method="POST" >
          {{ form.mapqtl_session.label }} {{ form.mapqtl_session }}
          {{ form.lod_threshold.label }} {{ form.lod_threshold }}
          <input type="submit" value="Submit">
        </form>

        {% if exp_ids %}
        <ul class=exp_ids>
        {% for exp_id in exp_ids|sort %}
          <li><a href="{{url_for('results',
            session_id=session_id, exp_id=exp_id)}}">{{ exp_id }}</a>
            {% if '_s' in exp_id %}
                session: {{ exp_id.rsplit('_s', 1)[1].rsplit('_t')[0] }}
            {% endif %}
            {% if '_t' in exp_id %}
                threshold: {{ exp_id.rsplit('_t', 1)[1] }}
            {% endif %}
          </li>
        {% endfor %}
        </ul>
        {% endif %}
        <p style="font-style:italic">
          The session identifier is the only way for you to find back
          your session if you close your browser. <br />
          The session is valid for at least 7 days, during that time,
          you may share this page or the session identifier with
          colleagues if you wish. After, you will have to re-upload your
          files.
        </p>
      </div>
    </div>
  </body>
</html>
